body {
  background: rgb(0, 13, 3);
  background: linear-gradient(
    90deg,
    rgba(0, 13, 3, 1) 0%,
    rgba(9, 91, 8, 1) 48%,
    rgba(156, 204, 134, 1) 100%
  );
  font-family: 'Poppins', sans-serif;
}

.header {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 60px;
}

p {
  font-size: 20px;
}

.form-section {
  display: inline-block;

  margin: 0 0 0 123px;
}

p {
  color: white;
}

.input {
  height: 30px;
  width: 254px;
}

.button-section {
  display: flex;
  justify-content: center;
}

#button {
  margin: 20px;
  height: 27px;
  width: 155px;
}

.box {
  display: inline-block;
  float: right;
  margin: 38px 63px 0 0;
}

#display-box {
  display: inline-block;

  border: solid white;
  height: 331px;
  width: 610px;
  padding: 23px;
  margin: 0 0 57px 0;
  background-color: white;
  overflow: auto;
}

.title {
  margin: 5px;
  font-size: 30px;
}

.h2 {
  margin: 2px;
  font-size: 24px;
}

.image {
}
